<div class="idea_ver">
	<strong><%= idea.titulo %></strong>
	<%= idea.user.nombre_empresa %>
	-
	<%if !idea.id.nil?%>
		<%= link_to "Ver denuncia", ver_denunciar_path(idea.id), style: "color:blue;text-decoration:underline" %>
	<% end %>
</div>
