<h1>Editar idea</h1>
<%= render 'formulario' %>
<hr>
<div class="subir_archivo">
	<%= render 'subir_archivo'%>
</div>
<br>
<%= link_to 'Borrar idea', eliminar_path, method: :delete, data: { confirm: '¿Estas seguro?' } %>
<%= link_to 'Volver al inicio', inicio_path %>
