<br><br><br><br> <br><br>
<p>
	<h2><b>Terminos de Uso del sitio</b></h2>
	La exploración del Sitio Web de RedRabbitNetwork ubicado en los dominios www.RedRabbitNetwork.com y de cualquiera de las páginas a las que a través del mismo se pueda acceder, implica que el usuario necesariamente ha leído, entendido y aceptado estas Condiciones de Uso de este Sitio Web. En caso de que no esté de acuerdo con los términos y condiciones descriptos en dichos textos legales, el usuario debe abstenerse de utilizar este Sitio Web y todos sus servicios relacionados.
</p>
<br>
<p><b>Termino de uso de nuestros servicios:</b></p>
<br>
<p>
	1.Su servicio: Su cuenta en RedRabbitNetwork.com le provee la posibilidad de crear una o varios cuentas GRATIS. Usted es el único responsable por cualquier información contenida en sus cuentas. Aunque, si se reciben quejas acerca del lenguaje, contenido o gráficas contenidas en su servicio, RedRabbitNetwork.com puede, a su sola discreción, eliminar el servicio en los servidores de RedRabbitNetwork.com y suspenderlo. Usted no debe usar su servicio para publicar material, que RedRabbitNetwork.com determine, a su sola discreción, ser ilegal, indecente o inaceptable. Para el propósito de esta políticas, "material" se le refiere a todas las formas de comunicación incluyendo descripciones narrativas, gráficas (incluyendo fotografías, ilustraciones, imágenes, dibujos, logos), programas ejecutables, grabaciones de audio y de video.
</p>
<p>
	2.Uso ilegal: El poseedor de una cuenta RedRabbitNetwork.com está de acuerdo de usar los servicios que RedRabbitNetwork.com le ofrece solo con fines legales, conforme a todas las leyes aplicables. 
</p>
<p>
	3.Acceso ilimitado: RedRabbitNetwork.com ha desarrollado una tecnología superior para proveerle a usted con un servicio de calidad totalmente gratuito. El uso de nuestros servicios para usuarios de alto volumen o comercial esta terminantemente prohibido.
</p>
<p>
	4.Reventa de servicios: La reventa de algún servicio de RedRabbitNetwork.com sin nuestra autorización escrita esta estrictamente prohibida.
</p>
<p>
	5.Control del trafico: Nosotros queremos que obtenga el mejor uso posible de los servicios ofrecidos por RedRabbitNetwork.com. Si su trafico llega a ser problemático o excesivo, le pediremos que retire su servicio.
</p>
<br>
<p>
	<b>Actividades y usos terminantemente prohibidos de nuestros servicios:</b>
</p>
<br>
<p>
	1.Daño a menores: El uso de RedRabbitNetwork.com para dañar, o intento de daño, a menores de cualquier forma, incluyendo pero no limitando solamente a pornografía infantil, abuso de menores, maltrato, etc. será denunciado ante las autoridades pertinentes.
</p>
<p>
	2.Amenazas e insultos: Uso de los servicios de RedRabbitNetwork.com para transmitir cualquier tipo de material (por e-mail, foros, libros de visitas, espacio web o de cualquier otra manera) que amenace, anime al daño o a la destrucción corporal de una propiedad o persona.
</p>
<p>
	3.Contenido para adultos: Uso de los servicios de RedRabbitNetwork.com para transmitir cualquier contenido que sea considerado para adultos o pornográficos, como escenas de sexo explicito, desnudos integrales, etc.
</p>
<p>
	4.Acoso: Uso de los servicios de RedRabbitNetwork.com para transmitir cualquier material que acose a otro.
</p>
<p>
	5.Actividad fraudulenta: Uso de los servicios de RedRabbitNetwork.com para hacer ofertas fraudulentas para vender o para comprar productos, cosas, o servicios, o para avanzar cualquier tipo de spam financiero tal como "esquemas de pirámide", "esquemas de ponzi", "cartas en cadena", etc.
</p>
<p>
	6.Mensajes no solicitados (SPAM): El uso de los servicios de RedRabbitNetwork.com para transmitir cualquier mensaje comercial en forma de spam esta expresadamente prohibido. Las violaciones de este tipo darán lugar al fin inmediato de la cuenta de RedRabbitNetwork.com causante del SPAM.
</p>
<p>
	7.Acceso no autorizado: El uso de los servicios de RedRabbitNetwork.com para acceder, o procurar tener acceso, a las cuentas de otros usuarios, o penetrar, o procurar penetrar, en las medidas de seguridad de RedRabbitNetwork.com o del software o de la dotación física de otra entidad, del sistema de comunicaciones electrónico, o de telecomunicaciones del sistema, si la intrusión da lugar a la corrupción o a la pérdida de datos, se prohíbe expresamente y la cuenta de usuario ofendiente sera finalizada inmediatamente.
</p>
<p>
	8.Violación de los derechos de autor, patente, marca, secreto comercial, etc: El uso de los servicios de RedRabbitNetwork.com para transmitir cualquier material incluyendo el que infringe a cualquier copyright, marca registrada, patente, secreto comercial u otros derechos propietarios de cualquier tercero, pero no limitado a, el copiado desautorizado del material con derechos de autor, la numeración y la distribución de fotografías de los compartimientos, de los libros, u otras fuentes con derechos de autor, y de la transmisión desautorizada de programas con derecho de autor.
</p>
<p>
	9.Robo de información personal: Uso del servicio de RedRabbitNetwork.com para recoger, o el intento de recoger, información personal sobre terceros sin su conocimiento o consentimiento.
</p>
<p>
	10.Interrupciónes de Red y actividad no amigable: Uso del servicio RedRabbitNetwork.com para cualquier actividad que afecte la capacidad de la gente o de sistemas para utilizar este servicio. Esto incluye la "negación de los ataques del servicio" (DOS) contra otra computadora principal de la red o usuario individual.
</p>
<p>
	11.Fraude: Implica una mala representación del saber o una declaración, una escritura o una actividad engañosa hecha con el intento de que la persona que la recibe actuará sobre ella.
</p>
<p>
	12.Distribución de virus: La distribución intencionada de programas que procura a y/o causar daño, el hostigamiento, o la molestia a las personas, los datos, y/o los sistemas informáticos se prohíben. Tal ofensa dará lugar al fin inmediato de la cuenta que lo realice.
</p>
<p>
	13.Responsabilidad de terceras personas: Los usuarios de este servicio se harán responsables de cualquier actividad, usando su cuenta, que viola las guías de consulta creadas dentro de los términos y condiciones de uso.
</p>
<p>
	14.Seguridad: Usted es responsable de cualquier uso erróneo de su cuenta, incluso si la actividad inadecuada fue confiada por un amigo, un miembro de la familia, una huésped o un empleado. Debe adoptar medidas de seguridad adecuadas para prevenir o de reducir al mínimo el uso desautorizado de su cuenta tomando medidas para asegurarse de que otros no tengan acceso desautorizado a su cuenta. Además, usted no puede utilizar su cuenta para practicar una abertura de seguridad de otra cuenta o para procurar tener el acceso desautorizado a otra red o servidor.
</p>
<p>
	15.Protección de contraseña: Tu contraseña proporciona el acceso a su cuenta. Es su responsabilidad de mantener su contraseña segura. Compartir su contraseña y el acceso a su cuenta a usuarios desautorizados se prohíbe. Debes tener cuidado al evitar que otros usen su cuenta puesto que a usted se hará responsable de su uso.
</p>
<p>
	16.Seguridad personal y de red: Los usuarios que violen los sistemas o la seguridad de la Red pueden incurrir en responsabilidad criminal o civil. RedRabbitNetwork.com cooperará completamente con cualquier organismo oficial para tal fin.
</p>
<p>
	17.Rendimiento de red: Los servicios de RedRabbitNetwork.com utilizan recursos compartidos. El uso o el abuso excesivo de estos recursos compartidos de la red por un usuario puede tener un impacto negativo en el resto de los usuarios. El uso erróneo de los recursos de la red de una manera que deteriore el funcionamiento de la red esta prohibido por estos terminos y puede dar lugar al fin de su cuenta.
</p>
<p>
	RedRabbitNetwork.com se reserva el derecho de revisar, enmendar, o de modificar estas condiciones de uso y de cualquier manera.
</p>