
<div class="page-header">
  <h1>Todas los grados disponible </h1>
</div>

<% @grado.each do |grado| %>
  <div class="grado">
     <h4>
        <strong>
          <%=grado.id%>:<%= grado.descripcion %>
        </strong>
        <%= link_to 'editar', editar_grados_path(grado.id) %>
      </h4>
      <br>
  </div>
<% end %>
<br>
<hr>
<%= link_to 'crear nuevo estado', grados_guardar_path %>

