<%=render "layouts/mensajes"%>
<%= render 'users/registrations/style' %>
<%= render 'script'%>
<div class="container">
	<div class="col-md-12" id="new_user">
		<div id= "formulario" class="formulario_login">	
			<h1>Red Rabbit Network</h1>
			<%= render 'form_registro.html'%>
		</div>
	</div>
</div>
