<div class="container">
    <div class="row">
    	<h2>Editar perfil : <%=@user.nombreEmpresa %></h2>
  	</div>
</div>
<%= render 'formulario' %>
<br>
<div class="link">
      <%= link_to "Volver", inicio_path, class:"btn btn-info  btn-block active"  %>
</div>
