<h2> Subir foto de perfil </h2>
<%= form_tag({:controller => "users_editar", :action => "subir_foto_de_perfil"}, :method => "post", :multipart => true) do %>
   <%= file_field_tag "archivo", :required => "required" %>
   <%= submit_tag "Subir archivo" %> 
<% end %>
<% if @formato_erroneo %>
  <div>
     <p> El formato ingresado es incorrecto. Usted sólo puede subir archivos .jpg</p>
  </div>
<% end %>
