<%=render "layouts/mensajes"%>
<%= render 'style' %>
<%= render 'jquery'%>

<div class="container">
	<div class="col-md-6">
		<div class="inicio_video">
			<h1>¿Que es Red Rabbit Network?</h1>
			<div class="embed-container">
				<iframe width="540" height="315" src="//www.youtube.com/embed/FWr-OeDJp4I" frameborder="0" allowfullscreen></iframe>  
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div id= "formulario" class="formulario_login">	
			<%= render 'login'%>
		</div>
	</div>
</div>